<p id="notice"><%= notice %></p>
<div class="page-header">
   <h1 style="margin-left:15px;float:right;margin-right:20px">  <small>User email: <%=current_user.email%></small></h1>
</div>

<div class="row">
 <div class="col-xs-4">
  <div class="input-group" style="margin-bottom:50px; margin-left:30px">
   <span class="input-group-btn">
     <%= form_tag(posts_path, :method => "get", id: "search-form") do %>

     <%= text_field_tag :search, params[:search], placeholder: "Search Posts by Title, Body or #tag", class: 'form-control' %>

     <%= submit_tag "Submit Search", class: 'btn btn-primary' %>
    <% end %>
   </span>
  </div>
 </div>
</div>


<div class="panel panel-danger" style="margin-left:10px">
  <!-- Default panel contents -->
  <div class="panel-heading" style="background-color:pink">Listing of Posts</div>

<div class="table-responsive">
 <table class="table table-hover">
   <thead>
    <tr>
      <th style="color:red">Post created by:</th>

      <th style="color:blue">Title</th>

      <th style="color:blue">Image</th>

      <th style="color:red">Body</th>

      <th style="color:green">#Tag</th>

      <th style="color:green">Created at</th>

      <th style="color:green">Updated at</th>

      <th style="color:blue">Comments:</th>
    </tr>
   </thead>

   <tbody>
    <% @alluserposts.each do |post| %>
      <tr>
        <td><%= post.user.email %></td>
        <td><%= post.title %></td>
        <td>
            <img src="<%= post.image.url %>" alt= "image" style="width:200px;height:200px" class="thumbnail img-rounded">
        </td>
        <td><%= post.body %></td>
        <td><%= post.tag %></td>

        <td><%= post.created_at.localtime %></td>
        <td><%= post.updated_at.localtime %></td>
        <td>
          <% post.comments.each do |comment| %>
            <ul>
            <li><span style='color:darkolivegreen;font-weight:bold'>Comments content: </span><%=comment.content %></li>
            <li><span style='color:darkolivegreen;font-weight:bold'>commented by user: </span><%=comment.user.email %></li>
            </ul>
          <% end %>
        </td>

      </tr>
      <tr>
        <% if post.user.email == current_user.email %>
          <td><a class="btn btn-warning" href='<%=edit_post_path(post)%>'>Edit Post</a></td>
          <td colspan="2"><a class="btn btn-default" href='<%=post_path(post)%>'>Show Post</a></td>
          <td colspan="4"><%= link_to 'Destroy Post', post, method: :delete, data: { confirm: 'Are you  sure?' }, class: 'btn btn-danger'  %></td>
        <% end %>
        <td colspan="1" style="background-color:brown"><a class="btn btn-info" href='<%=new_post_comment_path(post)%>'>Add Comments</a></td>
      </tr>
     <% end %>
   </tbody>
  </table>
 </div>
</div>

<br>

<a class="btn btn-info" href='<%=new_post_path %>' style="margin-left:10px">New Post</a>
<a class="btn btn-warning" href='<%=posts_path%>'>All Posts</a>

