<p id="notice"><%= notice %></p>

<p style='margin-left:10px'>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p style='margin-left:10px'>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p style='margin-left:10px'>
  <strong>Tag:</strong>
  <%= @post.tag %>
</p>

<p style='margin-left:10px'>
  <strong>Timestamp:</strong>
  <%= @post.timestamp %>
</p>

<p style='margin-left:10px'>
  <strong>User ID:</strong>
  <%= @post.user_id %>
</p>

<a class="btn btn-warning" href='<%=edit_post_path(@post) %>' style='margin-left:10px'>Edit</a>
<a class="btn btn-success" href='<%=posts_path %>'>Back</a>