<!DOCTYPE html>
<html>
<head>
  <title>Kultura</title>
  <link rel="shortcut icon" href='elton2.jpg' />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-pills" style="margin-left:10px">
  <li role="presentation"><a href="/signup">Signup</a></li>
  <li role="presentation"><a href="/login">Login</a></li>
  <li role="presentation"><a href="<%= root_path%>">Home</a></li>
  <li role="presentation"><a href="<%= logout_path%>">Logout</a></li>
</ul>
<h1 style="font-family:Georgia,serif; margin-left:10px" ><span class="glyphicon glyphicon-film" aria-hidden="true"></span> Kultura</h1>

<%= yield %>

</body>
</html>
